---
Checks: '-clang-diagnostic-*,clang-analyzer-*,cppcoreguidelines-*,modernize-*,readability-*,cert-*,bugprone-*,misc-*,openmp-*,performance-*,portability-*,hicpp-*,google-*,-readability-function-cognitive-complexity,-bugprone-branch-clone,-hicpp-signed-bitwise,-misc-use-anonymous-namespace,-misc-no-recursion,-modernize-use-trailing-return-type'
HeaderFilterRegex:   ''
FormatStyle:         none
InheritParentConfig: true
CheckOptions:
  readability-braces-around-statements.ShortStatementLines: 1
  readability-function-size.LineThreshold: 800
  readability-identifier-naming.ClassMemberPrefix: m_
  readability-identifier-naming.ClassMemberCase: camelBack
  readability-identifier-naming.LocalVariableCase: camelBack
  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
  readability-identifier-naming.ParameterCase: camelBack
  readability-identifier-naming.ClassCase: lower_case
  readability-identifier-naming.StructCase: lower_case
  readability-identifier-naming.EnumCase: lower_case
  readability-identifier-naming.FunctionNameCase: lower_case
  readability-identifier-naming.NamespaceCase: lower_case
