/tests/.vs
/tests/bin/
/tests/out/
/.vs
/docs/html/
CMakeSettings.json
.Rproj.user
*.tex
/tests/demo/out/
/tests/demo/bin
/tests/demo/.vs
docs/manual/_bookdown_files/TinyExpr++-Reference-Manual_files/
.Rhistory
