/tests/.vs
/tests/bin/
/tests/out/
/.vs
/docs/html/
CMakeSettings.json
.Rproj.user
*.tex
/tests/demo/out/
/tests/demo/bin
/tests/demo/.vs
.Rhistory
docs/manual/_bookdown_files/TinyExpr++ReferenceManual_files/
