/tests/.vs
/tests/bin/
/tests/out/
/.vs
CMakeSettings.json
.Rproj.user
*.tex
/tests/demo/out/
/tests/demo/bin
/tests/demo/.vs
.Rhistory
/docs/html/
/docs/manual/_bookdown_files/TinyExpr++ReferenceManual_files/
/docs/manual/TinyExpr++ReferenceManual.log
/docs/manual/TinyExpr++ReferenceManual.aux
/docs/manual/TinyExpr++ReferenceManual.bcf
/docs/manual/TinyExpr++ReferenceManual.idx
/docs/manual/TinyExpr++ReferenceManual.lot
/docs/manual/TinyExpr++ReferenceManual.toc
/docs/manual/TinyExpr++ReferenceManual.ilg
/docs/manual/TinyExpr++ReferenceManual.ind
/docs/manual/.quarto
/docs/search.json
/docs/technical-overview_files/figure-pdf
